<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "配球共有", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="barlist"><%= link_to "Home",   root_path, class: "barlink" %></li>
        <li class="barlist"><%= link_to "Help",   help_path, class: "barlink" %></li>
        <% if logged_in? %>
          <li class="barlist"><%= link_to "Users", users_path, class: "barlink" %></li>
          <li class="dropdown barlist">
            <a href="#" class="dropdown-toggle barlink" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="droplist"><%= link_to "Profile", current_user, class: "droplink" %></li>
              <li class="droplist"><%= link_to "Settings", edit_user_path(current_user), class: "droplink" %></li>
              <li class="divider"></li>
              <li class="droplist">
                <%= link_to "Log out", logout_path, method: :delete, class: "droplink" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="barlist"><%= link_to "Log in", login_path, class: "barlink" %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
